/*colors*/
$primary-color: #007AF3;
$secondary-color: #F2F2F2;
$additional-color: #20272E;
$base-text-color: black;
$secondary-text-color: gray;
/*colors*/

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: $secondary-color;
    margin: 0;
    width: 100%;
}

.author {
    text-align: center;
    background-color: $additional-color;
    color: white;
}

h3 {
    color: white;
    font-size: 2em;
    white-space: nowrap;
    hr {
        min-width: 5em;
    }
}

section {
    padding: 3em 2em;
}

.navbar {
    background-color: white;
    padding: 1em;

    .logo {
        text-decoration: none;
        color: $base-text-color;
        font-size: 1.7em;
        font-weight: bolder;
        margin-left: 0.5em;
        
        span {
            color: $primary-color;
            font-size: 1.1em;
        }
    }

    nav {
        display: none;
    }

    .container {
    display: flex;
    place-content: space-between;
    }

    .mobile-menu {
        cursor: pointer;
        border: #007AF3 0.1em solid;
        border-radius: 0.5em;
        padding: 0em 0.5em 0em 0.5em;
    }
}

a {
    color: $primary-color;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.hero {
    text-align: center;

    .left-col {
        .subhead {
            text-transform: uppercase;
            color: $secondary-text-color;
            letter-spacing: .1em;
        }

        h1 {
            font-size: 2.5em;
            line-height: 1.2em;
            margin-top: .2em;
        }

        .primary-cta {
            background-color: $primary-color;
            color: white;
            padding: 0.6em 1.3em;
            font-size: 1.2em;
            border-radius: 2em;
            display: inline-block;
            //text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        }
        //API Page
    }
    
    .primary-cta {
          margin-bottom: .3em;      
    }

    img {
        margin-top: 2em;
        width: 100%;
        height: 100%;
        //box-shadow: .8em .8em 1em $secondary-text-color ;
        //border-radius: 2em;
        max-width: 40em;
        margin-bottom: 1em;
        
    }
}



.features-section {
    background-color: #007AF3;
    
    .container {
        
        max-width: 50%;
    }

}



.features-list {
    margin: 0;
    margin-top: 3em;

    //grid-template-columns: repeat(auto-fit, minmax(30rem, 3fr));


    li {
        margin-top: 1.2em;
        font-size: 1.1em;
        margin-bottom: 1em;
        margin-left: 1em;
        position: relative;
        color: white;


        &:before {
            content: "";
            position: absolute;
            height: 20px;
            width: 20px;
            background-image: url(../images/bullet.svg);
            background-size: contain;
            margin-right: 0.5em;
            left: -1.5em;
        }
    }
    
}


.features-section-right {
    text-align: center;

}


.features-image {
    width: 100%;
    margin-top: 1em;
    padding-top: 1em;
    max-width: 40em;
    text-align: center;
}


.testimonials-section {
    background-color: $secondary-color;

    ul {
        padding-inline-start: 0px;
        li {
            max-width: 500px;
            background-color: $primary-color;
            text-align: center;
            padding: 2em 1em;
            width: 80%;
            margin: 0 auto 5em auto;
            //border-radius: 2em;
            color: $secondary-color;
            box-shadow: .8em .8em 1em $secondary-text-color ;
            img {
                width: 5em;
                height: 5em;
                border: .1em solid black;
                border-radius: 3em;
                margin-top: -4em;
            }
        }
    }
}




.contact-section {
    background-color: $additional-color;
    color: white;
    h2 {
        font-size: 2.5em;
        margin-top: 0;
    }

    label {
        display: block;
        font-size: 1.2em;
        margin-bottom: 0.5em;
    }
    input, textarea {
        display: block;
        margin-bottom: 1.5em;
        width: 100%;
        padding: 0.5em;
        box-sizing: border-box;
    }
}

input.send-massage-cta {
    background-color: $primary-color;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    border-radius: 5em;
    border: none;
    width: 10em;
    cursor: pointer;
}

iframe {
    width: 100%;
    height: 100%;
    min-height: 20.8em;
}



nav {
    position: fixed;
    z-index: 99;
    width: 70%;
    left: 30%;
    right: 0;
    top: 0;
    height: 100%;
    background-color: $additional-color;
    
    .primary-nav {
        margin-top: 4em;
        margin-bottom: 0;

        a {
            color: white;
            &:hover {
                color: $primary-color;
            }
        }
    }

    .secondary-nav {
        margin-top: 0;

        a {
            color: gold;
            &:hover {
                color: $primary-color;
            }

        }
    }


    li {
        margin: 2em 0em 2em 0em;
        font-size: 1.3em;

    }
}

.mobile-menu-exit {
    float: right;
    margin: 1.1em 1.2em 0em 0em;
    
    cursor: pointer;
    width: 1.8em;
}

nav.menu-btn {
    display: block;
}

//API Page
// .api-features {
// }



.card {
    text-align: center;
    background-color: white;
    border-image: linear-gradient(140deg, red, yellow, rgb(0, 174, 255))30;
    border-width: .3em;
    border-style: solid;
    margin: 5em auto;
    max-width: 500px;
    
    img {
        margin-top: 2em;
        width: 20%;
    }

    p {
        margin-bottom: 3em;
        margin-left: 2em;
        margin-right: 2em;
    }

    ul {
        li {
            list-style-type: disc;
            text-align: left;
            padding: .5em .5em;

        }
    }

}

.customer-section {
    .customers-start    {

        h1  {
            font-size: 2.5em;
            text-align: center;
            margin-bottom: 0;
        }
        hr {
            max-width: 50%;
        }
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-inline-start: 0px;

        li {

            img {
                object-fit: cover;
                vertical-align: bottom;
                padding: 5em 3em;
            }
        }
    }
}


.scroll-button {
    display: none;

}



@media only screen and (min-width: 800px) {

    .mobile-menu, .mobile-menu-exit {
        display: none;
    }

    .navbar .container {
        display: grid;
        grid-template-columns: 180px auto;
        justify-content: unset;
    }


    .navbar nav {
        display: flex;
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;

        ul {
            display: flex;
            margin: 0px 0px;
        }

        a {
            font-size: 1em;
            padding: .1em .1em;
        }

        li {
            margin: 0.3em 0em 0em 0em;
            white-space: nowrap;
        }

        .primary-nav {
            
            
            a {
                margin-right: .5em;
                color: #000;
                &:hover {
                    color: $primary-color;
                }
            }
        }
        .secondary-nav {
           a {
            color: black;
            margin: 0px 1em;
            &:hover {
                color: $primary-color;
            }
           }
           .go-premium-cta {
            color: #20272E;
            border: #007AF3 .1em solid;
            border-radius: 3em;
            margin-top: .1em;
            padding: .1em .1em;

           }
        }
    }

    //API Page


  }



  @media only screen and (min-width: 1080px) {

    .hero .container {
        display: flex;
        justify-content: center;
        margin: auto;
        margin: 5em; 
    }

    .api-hero {
        margin-left: 8em;
    }

    .left-col {
        min-width: 250px;
        margin-top: 3em;
        padding-right: 1em;
        max-width: 500px;
    }

    .features-section {
        display: flex;
        justify-content: center;
        margin: auto;
    }

    .features-section-left .features-section-right {
        display: flex;
        justify-content: space-between;  

    }

    .features-image {
        margin-left: 10em;
    }

    .testimonials-section ul {
        display: flex;
        justify-content: center;
        li {
            margin: 0 2em;
            max-width: 15em;
        }
    }

    .contact-section {
        .containter {
            display: flex;
            justify-content: center;
            margin: 0 10em;
            .contact-right {
                width: 40%;
                height: 45%;

                margin-top: 7em;
                margin-left: 7em;
            }
        }
    }


    .testimonials-section ul {
        display: flex;
        justify-content: center;
        li {
            margin: 0 2em;
            max-width: 15em;
        }
    }

    // .scroll-button {
    //     display: block;
    //     position: fixed;
    //     bottom: 1em;
    //     right: 1em;
    //     border-radius: 5em;
    //     width: 5em;
    //     height: 5em;
    //     border: #20272E .1em solid;

    //     .back-button-img {
    //         max-width: 4em;
    //     }
        
    // }

    .api-features {
        display: flex;
        justify-content: space-between;
    }
    .card { 
        width: 30%;
        margin: 5em 3em;
    }
  }


